.layout{
    width:100%;
    height:auto;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    background-image: url(../../components/images/art.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.floating-div{
    width:25%;
    margin:0 auto;
    padding:2%;
    text-align: center;
    border-radius:3px;
    background-color: #fff;
}
