/* .MuiInputBase-input {
    margin:0;
}
.MuiOutlinedInput-input{
    margin:0;
}
*/
.MuiFormControl-root.margin{
    margin:0.3rem;
}

.outlined-basic{
    padding:0 1rem;
}
/*
.outlined-basic:focus{
    border-bottom:0;
}

#name, #email, #password, #repasswd, #name:focus, #email:focus, #password:focus, #repasswd:focus{
    border:0;
} */

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea{
    border-bottom:0;
}