.Profile {
    /* background:rgb(221, 221, 221, 0.8); */
    height:83vh;
    /* display:grid; */
    /* grid-template: 1fr 0 3fr 0 1fr / 1fr; */
    /* border-radius:10px; */
    /* border: 1px solid rgba(var(--b6a,219,219,219),1); */
}

.Profile > div {
    border-radius:10px;
    padding: 5% 10%;
    margin-top: 4%;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.Profile__title h4 {
    /* text-align: center; */
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    font-size: 2rem;
}

.Profile__resume {
    padding: 5% 0;
    line-height: 25px;
    font-size: 12pt;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
    font-family: 'Lato';
}

.Profile__progress {
    padding:5% 0;
}

.Profile__progress h6 {
    color: rgba(0,0,0,0.6);
    font-weight: bold;
} 

.Profile .btn.btn-option {
    width:100%;
    line-height: 0;
    box-shadow: none;
    padding:5% 0;
    margin-top:4%;
    border-radius:10px;
}