#ToolsList__container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ToolsList{
    /* width:300px; */
    background-color:#fff;
    border-radius:15px;
}

.ToolsList h5{
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    font-size: 1.5em;
}

.closer{
    width:100%;
    padding:4%;
}

button.ToolsList__button{
    width:auto;
    height:auto;
    border:0;
    cursor: pointer;
    background-color:transparent;
}

button.ToolsList__button:active{
    background-color: transparent;
}

.ToolsList__list{
    max-height:10vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ToolsList__icon{
    width:70px;
    height:70px;
}

.ToolsList__input{
    display:flex;
    justify-content: space-between;
}

.ToolsList__input *{
    float:left;
}

.ToolsList .btn{
    width: 50px;
    height: 30px;
    margin: 0;
    padding: 2px;
}

.ToolsList__list.collection {
    border: 0;
}